[Unit]
Description=Snowballtech Node Agent Service
After=network.target

[Service]
Environment="HOME=/root"
Environment="KUBECONFIG=/etc/rancher/k3s/k3s.yaml"
WorkingDirectory=/usr/local/bin/
ExecStart=/usr/local/bin/nodeAgent 9009
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target